.cuerpo{
    display: flex;
    flex-flow: column nowrap;
    width: 85%;
    background-color: rgb(238, 231, 236);
    overflow: hidden;
}
#agregar{
    margin-left: 1450px;
    margin-top: -100px;
     background: rgb(141, 74, 141);
}
#agregar:hover{
    transform: scale(1.2);
    margin-right: 10px;
    background: rgb(198, 100, 207);
    box-shadow: 2px 2px 15px #3e0961;
    
}

.svg{
    width: 100px;

}

#buscador{
    margin-left: 20px;
    width: 1500px;
}

#btnota{
    margin-left: 300px;
}

